

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Oficina Virtual de Hacienda</title>

    <!-- Bootstrap + Icons -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />
</head>


<body class="login-bg">
    <div class="row mt-5">
    </div>
    @*     <header class="bg-white shadow-sm py-2">
        <div class="container d-flex align-items-center">
            <img src="~/img/Veracruz2025_1.png" alt="Logo Veracruz" height="50" class="me-3" />
            <h5 class="mb-0 text-primary fw-bold">Oficina Virtual de Hacienda</h5>
        </div>
    </header> *@

    <main class="container mt-5">
        @RenderBody()
    </main>

    <footer class="text-center text-muted py-3 mt-5 border-top">
        Gobierno del Estado de Veracruz · INTRANET © @DateTime.Now.Year
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    @RenderSection("Scripts", required: false)

</body>
</html>



<style>
    body.login-bg {
        background-color: #eeeeee; /* gris claro */
    }
</style>
