@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container-fluid">
	<div class="row justify-content-center">
		<main class="col-12">

			<div class="container text-center">

				<div class="d-flex flex-wrap justify-content-center gap-3">

										
				@* 	<div class="col-md-3 col-sm-6">
						<a class="card-acceso" asp-area="Tecnologias" asp-controller="Formatos" asp-action="Index" asp-route-IdArea_="3">
							<i class="bi bi-share"></i>
							<h5>REDES Y SEGURIDAD</h5>
							<p>Conectividad e internet</p>
						</a>
					</div>

					<div class="col-md-3 col-sm-6">
						<a class="card-acceso" asp-area="Tecnologias" asp-controller="Formatos" asp-action="Index" asp-route-IdArea_="1">
							<i class="bi bi-people"></i>
							<h5>SOPORTE TÉCNICO</h5>
							<p>Asistencia técnica</p>
						</a>
					</div>

					<div class="col-md-3 col-sm-6">
						<a class="card-acceso" asp-area="Tecnologias" asp-controller="Formatos" asp-action="Index" asp-route-IdArea_="2">
							<i class="bi bi-code-slash"></i>
							<h5>DESARROLLO DIGITAL</h5>
							<p>Sistemas institucionales</p>
						</a>
					</div> *@

					<div class="col-md-3 col-sm-6">
						<a class="card-acceso"
						   asp-area="Tecnologias"
						   asp-controller="Formatos"
						   asp-action="Index"
						   asp-route-slug="redes-seguridad">

							<i class="bi bi-share"></i>
							<h5>REDES Y SEGURIDAD</h5>
							<p>Conectividad e internet</p>

						</a>
					</div>

					<div class="col-md-3 col-sm-6">
						<a class="card-acceso"
						   asp-area="Tecnologias"
						   asp-controller="Formatos"
						   asp-action="Index"
						   asp-route-slug="control-resguardo">

							<i class="bi bi-people"></i>
							<h5>SOPORTE TÉCNICO</h5>
							<p>Asistencia técnica</p>

						</a>
					</div>

					<div class="col-md-3 col-sm-6">
						<a class="card-acceso"
						   asp-area="Tecnologias"
						   asp-controller="Formatos"
						   asp-action="Index"
						   asp-route-slug="desarrollo-digital">

							<i class="bi bi-code-slash"></i>
							<h5>DESARROLLO DIGITAL</h5>
							<p>Sistemas institucionales</p>

						</a>
					</div>

				</div>

				<div class="d-flex justify-content-center mt-4">
					<div class="col-md-3 col-sm-6">
						<a class="card-acceso destacado" asp-area="Tecnologias" asp-controller="Inicio" asp-action="Index">
							<i class="bi bi-headset"></i>
							<h5>MESA DE AYUDA</h5>
							<p>Ext. 8000</p>
							@* <span class="badge bg-danger mt-2">Crear Ticket</span> *@
						</a>
					</div>
				</div>



			</div>

		</main>
	</div>


	<div class="mt-3 text-center mb-3">

		<a asp-area="Inicio" asp-controller="Menu" asp-action="Index" class="btn btn-outline-danger">
			<i class="bi bi-arrow-left-circle me-2"></i> Regresar al menú
		</a>


	</div>
</div>

