

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<div class="container mt-4">

	<div class="text-center mb-4 mt-4">
		<h2 class="fw-bold titulo-principal">Portal de Servicios SSP</h2>
		<p class="subtitulo">Acceso rápido a servicios institucionales</p>
		<div class="separador"></div>
	</div>
	


	<!-- 🔹 Grid de opciones -->
	<div class="row mt-3 g-4 justify-content-center">

		
		<!-- CALEA -->
		<div class="col-md-3 col-sm-6">
			<a class="card-acceso" asp-area="Calea" asp-controller="Calea" asp-action="Index">
				<i class="bi bi-shield-check"></i>
				<h5>CALEA</h5>
				<p>Consulta normativa y documentación</p>
			</a>
		</div>

		<!-- Directorio -->
		<div class="col-md-3 col-sm-6">
			<a class="card-acceso" asp-area="Inicio" asp-controller="Directorio" asp-action="Index">
				<i class="bi bi-telephone"></i>
				<h5>Directorio SSP</h5>
				<p>Consulta extensiones del personal</p>
			</a>
		</div>



		<!-- Formatos -->
		<div class="col-md-3 col-sm-6">
			<a class="card-acceso" asp-area="Inicio" asp-controller="Formato" asp-action="Index">
				<i class="bi bi-file-earmark-text"></i>
				<h5>Formatos SSP</h5>
				<p>Descarga formatos oficiales</p>
			</a>
		</div>

		<!-- Tecnologías -->
		<div class="d-flex justify-content-center mt-4">
			<div class="col-md-3 col-sm-6">
				<a class="card-acceso destacado" asp-area="Tecnologias" asp-controller="Inicio" asp-action="Index">
					<i class="bi bi-building"></i>
					<h5>Dirección de Tecnologías de la Información</h5>
					<p>Solicita soporte y servicios TI</p>
				</a>
			</div>
		</div>

	</div>


</div>


<footer class="footer-ssp mt-5">

	<div class="container py-4">

		<div class="row justify-content-center text-center">

			<!-- MAPA -->
			<div class="col-md-4 mb-4 d-flex flex-column align-items-center">
				<h6 class="fw-bold">UBICACIÓN</h6>

				<div class="map-container">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3760.3465354970476!2d-96.92495757405639!3d19.52673053766664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85db2dff4392c413%3A0x12ac02663de7bb78!2sSecretar%C3%ADa%20de%20Seguridad%20P%C3%BAblica!5e0!3m2!1ses-419!2smx!4v1775698483609!5m2!1ses-419!2smx"
							allowfullscreen=""
							loading="lazy">
					</iframe>
				</div>
			</div>

			<!-- DIRECCIÓN -->
			<div class="col-md-4 mb-4 d-flex flex-column justify-content-center align-items-center">
				<h6 class="fw-bold">UBICACIÓN</h6>

				<p class="mb-1">Leandro Valle, Esq. Zaragoza Col. Centro</p>
				<p class="mb-1">C.P. 91000 Xalapa, Veracruz</p>
				<p>Tel: 228 141 38 00</p>
			</div>

			<!-- REDES -->
			<div class="col-md-4 mb-4 d-flex flex-column justify-content-center align-items-center">
				<h6 class="fw-bold">SUSCRÍBETE</h6>

				<div class="d-flex justify-content-center gap-3 mt-2">
					<a href="https://www.facebook.com/SPVeracruz/" class="social-icon"><i class="bi bi-facebook"></i></a>
					<a href="https://x.com/SP_Veracruz" class="social-icon"><i class="bi bi-twitter"></i></a>
					<a href="https://www.youtube.com/channel/UCPa53o1IN9zqTdpqwAShclw" class="social-icon"><i class="bi bi-youtube"></i></a>
				</div>
			</div>

		</div>
	

	
		<div class="row justify-content-center text-center mt-3">

			<div class="col-12">
				<h6 class="fw-bold">EMERGENCIA</h6>
			</div>

			<div class="col-6 col-md-3 mb-3">
				<a href="https://www.veracruz.gob.mx/programadegobierno/quejas-y-denuncias/" target="_blank">
					<img src="/img/banner/089.png" class="img-emergencia" />
				</a>
			</div>

			<div class="col-6 col-md-3 mb-3">
				<a href="https://www.gob.mx/911" target="_blank">
					<img src="/img/banner/911.png" class="img-emergencia" />
				</a>
			</div>

			<div class="col-6 col-md-3 mb-3">
				<a href="https://ivermujeres.gob.mx/" target="_blank">
					<img src="/img/banner/075.png" class="img-emergencia" />
				</a>
			</div>

			<div class="col-6 col-md-3 mb-3">
				<a href="https://www.veracruz.gob.mx/avgm/" target="_blank">
					<img src="/img/banner/violenciaGenero.png" class="img-emergencia" />
				</a>
			</div>

		</div>
	


	</div>

</footer>



				
@section Scripts {
	<partial name="_ValidationScriptsPartial" />

	<script>
		setTimeout(() => {
			let alert = document.querySelector('.alert-success');
			if (alert) alert.style.display = 'none';
		}, 3000);
	</script>
}