@using INTRANET_SSPVER.Models.ViewModels.Admin
@model ChangePasswordViewModel




@{
	ViewData["Title"] = "Cambiar contraseña";
}

<div class="container mt-4">
	<h2>Cambiar contraseña</h2>

	<div asp-validation-summary="All" class="text-danger"></div>

	<form asp-action="ChangePassword" method="post">
		<input type="hidden" asp-for="UserId" />


		<div class="form-group">
			<label asp-for="CurrentPassword" class="control-label"></label>
			<input asp-for="CurrentPassword" class="form-control" />
			<span asp-validation-for="CurrentPassword" class="text-danger"></span>
		</div>



		<div class="form-group">
			<label asp-for="NewPassword"></label>
			<input asp-for="NewPassword" class="form-control" />
			<span asp-validation-for="NewPassword" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="ConfirmPassword"></label>
			<input asp-for="ConfirmPassword" class="form-control" />
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
		</div>
		<br />

		<button type="submit" class="btn btn-primary">Guardar</button>

		<a asp-action="MostrarUsuarios" class="btn btn-secondary">Regresar</a>


	</form>

</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}