
/* ========================
   BOTONES DE ACCESO
======================== */

/*.card-formatos {
    width: 200px !important;*/ /*mismo ancho para todos */
/*height: 60px !important;*/ /* opcional: misma altura */
/*text-align: center !important;
    flex: 0 0 200px !important;
    height: 60px !important;
}*/



.card-acceso {
    display: block;
    background: #c9a227;
    color: white;
    border-radius: 15px;
    padding: 25px 15px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

    .card-acceso i {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .card-acceso h5 {
        font-weight: bold;
        margin-top: 10px;
    }

    .card-acceso p {
        font-size: 14px;
        opacity: 0.9;
    }

    .card-acceso:hover {
        transform: translateY(-6px);
        box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    }

    .card-acceso.destacado {
        background: #800000;
    }



/*Descarga de archivos*/
/* ========================
   ARCHIVOS CALEA
======================== */
.archivo-card {
    background: #ffffff;
    border-radius: 12px;
    padding: 12px 15px;
    text-decoration: none;
    color: #212529;
    transition: all 0.25s ease;
    border: 1px solid #eee;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

    /*  .archivo-card:hover {
        transform: translateY(-3px);
        box-shadow: 0 6px 15px rgba(0,0,0,0.15);
        background: #fff9e6;
    }
*/
    /* Icono */
    .archivo-card .icono {
        font-size: 30px;
        color: #c9a227;
        margin-right: 12px;
    }

    /* Título */
    .archivo-card .titulo {
        font-weight: 600;
    }

    /* Subtexto */
    .archivo-card .sub {
        font-size: 12px;
        color: #6c757d;
    }

    /* Icono descarga */
    .archivo-card .descarga {
        font-size: 30px;
        color: #6A1B1B;
    }


a:hover {
    color: #060606;
}

.boton-formatos {
    display: block;
    background: #c9a227;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 25px 15px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    flex: 0 0 210px;
    height: 100px;
}

    .boton-formatos:hover {
        transform: translateY(-6px);
        box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    }

    .boton-formatos .icono {
        font-size: 30px;
        color: #c9a227;
        margin-right: 12px;
    }
