@using INTRANET_SSPVER.Models.ViewModels.Transparencia
@model TransparenciaVM

@{
	ViewData["Title"] = "Nuevo Registro";
}

<style>
	.select2-container .select2-selection--single {
		height: 38px;
		padding: 5px;
	}
</style>

<div class="container mt-4">

	<h4 class="fw-bold mb-3">
		<i class="bi bi-plus-circle me-2"></i> Nuevo Registro (Comité Transparencia)
	</h4>

	<form asp-action="Create" method="post">

		<div class="mb-3">
			<label class="form-label">Numero Acta</label>
			<input asp-for="NumeroActa" class="form-control" />
			<span asp-validation-for="NumeroActa" class="text-danger"></span>
		</div>
			
		

		<div class="mb-3">
			<label class="form-label">Fecha</label>
			<input asp-for="Fecha" type="date" class="form-control" />
			<span asp-validation-for="Fecha" class="text-danger"></span>
		</div>

		

		<div class="mb-3">
			<label class="form-label">Url</label>
			<input asp-for="Url" class="form-control" />
			<span asp-validation-for="Url" class="text-danger"></span>
		</div>


		<div class="mb-3">
			<label class="form-label">Año</label>

			<select asp-for="Año"
					asp-items="Model.Años"
					class="form-select">
				<option value="">-- Selecciona un año --</option>
			</select>

			<span asp-validation-for="Año" class="text-danger"></span>
		</div>


		<div class="mb-3">
			<div class="form-check">
				<input asp-for="Activo" class="form-check-input" />
				<label asp-for="Activo" class="form-check-label">Activo</label>
				<span asp-validation-for="Activo" class="text-danger"></span>
			</div>
		</div>


		<div class="d-flex justify-content-between">
			<a asp-action="Index" class="btn btn-secondary">
				<i class="bi bi-arrow-left"></i> Volver
			</a>

			<button type="submit" class="btn btn-success">
				<i class="bi bi-save"></i> Guardar
			</button>

		</div>

	</form>
</div>

