@using INTRANET_SSPVER.Models.ViewModels.Transparencia
@model TransparenciaVM

@{
	ViewData["Title"] = "Editar Registro";
}



<style>
	.select2-container .select2-selection--single {
		height: 38px;
		padding: 5px;
	}
</style>


<div class="container mt-4">

	<h4 class="fw-bold mb-3">
		<i class="bi bi-pencil-square me-2"></i> Editar Registro
	</h4>

	@* 	<form asp-action="Edit" method="post">

		<input type="hidden" asp-for="IdComite" />

		<div class="mb-3">
			<label class="form-label">Nombre</label>
			<input asp-for="Nombre" class="form-control" />
		</div>

	
		<div class="mb-3">

			<label class="form-label">Area</label>
			<select asp-for="IdArea"
					asp-items="Model.Areas"
					class="form-select select2">
				<option value="">-- Selecciona un área --</option>
			</select>
		</div>



		<div class="mb-3">
			<label class="form-label">Nivel</label>

			<select asp-for="Nivel" class="form-select">
				<option value="">-- Selecciona nivel --</option>
				<option value="1">Secretario General</option>
				<option value="2">Director</option>
				<option value="3">Jefe</option>
				<option value="4">Analista</option>
			</select>

			<span asp-validation-for="Nivel" class="text-danger"></span>
		</div>


		<div class="mb-3">
			<label class="form-label">Orden (opcional)</label>
			<input asp-for="Orden" type="number" class="form-control" />
		</div>



		<div class="mb-3">
			<label class="form-label">Extensión</label>
			<input asp-for="Ext" class="form-control" />
		</div>


		<div class="mb-3">
			<div class="form-check">
				
				<input asp-for="Activo" class="form-check-input" />
				<label asp-for="Activo" class="form-check-label">Activo</label>
				<span asp-validation-for="Activo" class="text-danger"></span>
			</div>
		</div>

		<div class="d-flex justify-content-between">
			<a asp-action="Index" class="btn btn-secondary">
				<i class="bi bi-arrow-left"></i> Volver
			</a>

			<button type="submit" class="btn btn-primary">
				<i class="bi bi-save"></i> Actualizar
			</button>
		</div>

	</form>
 *@

	<form asp-action="Edit" method="post">

		<div class="mb-3">
			<label class="form-label">Numero Acta</label>
			<input asp-for="NumeroActa" class="form-control" />
			<span asp-validation-for="NumeroActa" class="text-danger"></span>
		</div>
			
		

		<div class="mb-3">
			<label class="form-label">Fecha</label>
			<input asp-for="Fecha" type="date" class="form-control" />
			<span asp-validation-for="Fecha" class="text-danger"></span>
		</div>

		

		<div class="mb-3">
			<label class="form-label">Url</label>
			<input asp-for="Url" class="form-control" />
			<span asp-validation-for="Url" class="text-danger"></span>
		</div>


		<div class="mb-3">
			<label class="form-label">Año</label>

			<select asp-for="Año"
					asp-items="Model.Años"
					class="form-select">
				<option value="">-- Selecciona un año --</option>
			</select>
			<span asp-validation-for="Año" class="text-danger"></span>
		</div>


		<div class="mb-3">
			<div class="form-check">
				<input asp-for="Activo" class="form-check-input" />
				<label asp-for="Activo" class="form-check-label">Activo</label>
				<span asp-validation-for="Activo" class="text-danger"></span>
			</div>
		</div>


		<div class="d-flex justify-content-between">
			<a asp-action="Index" class="btn btn-secondary">
				<i class="bi bi-arrow-left"></i> Volver
			</a>

			<button type="submit" class="btn btn-success">
				<i class="bi bi-save"></i> Guardar
			</button>

		</div>

	</form>

</div>






@section Scripts {
	
	<script>
		$(document).ready(function () {
		$('.select2').select2({
		placeholder: "Selecciona un área",
		allowClear: true,
		width: '100%'
		});
		});
	</script>
}

